.form-container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}
.login-wrapper {
  width: 300px;
  height: 350px;
  border-radius: 5px;
  margin: 0 auto;
  background-color: rgba(5, 172, 136, 0.986);
}
.login-wrapper h1 {
  align-items: center;
  text-align: center;
  margin-top: 10px;
  padding: 10px;
  font-size: 22px;
  color: white;
}
.form {
  width: 250px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 0 auto;
  color: white;
  font-weight: 800;
}
.form label {
  margin-top: 10px;
  margin-bottom: 10px;
}
.form input {
  padding: 10px;
  border-radius: 5px;
  border: transparent;
  margin-bottom: 10px;
}
.form button {
  padding: 10px;
  border-radius: 5px;
  background-color: orangered;
  border: transparent;
  color: white;
  font-weight: 800;
  margin-top: 10px;
}
